{% extends "base.template" %}


<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->


{% load static %}

{% block styleblock %}
    <link href="{% static 'vendor/dataTables/buttons.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/dataTables/datatables.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/rangeSlider/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/progresscircle/progresscircle.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-header">
        <div class="page-pretitle">{{ device_in.device_uid }} - </div>
        <h2 class="page-title"> {% if device_in.device_type == 1630 %} Beam Steerer {% elif device_in.device_type == 1631 %} Beam Chopper {% else %} Unknown {% endif %}</h2>
    </div>
</div>
<div class="row">


    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="card-header">Reflector 1</div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="icon-big text-center ">
                            <div id="prg1" class="circlechart" data-percentage="-20">Angle</div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="detail">
                            <div> SetPoint: 0</div>
                            <div> Current: 0</div>
                        </div>
                    </div>
                    <div class="col-sm-11 mb-3">
                        <div class="detail">
                            <div class="slider" id="slid1"></div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="mb-3">
                            <div class="input-group mb-3">
                                <button class="btn btn-primary" type="button" id="button-addon1">Set Angle °</button>
                                <input id="ang1" type="number" class="form-control" placeholder="" value="-20.0000" step="0.0001">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-outline-danger mb-2">Reset (0°)</button>
                        <button type="button" class="btn btn-outline-info mb-2">Calibrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="card-header">Reflector 2</div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="icon-big text-center ">
                            <div id="prg1" class="circlechart" data-percentage="-20">Angle</div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="detail">
                            <div> SetPoint: 0</div>
                            <div> Current: 0</div>
                        </div>
                    </div>
                    <div class="col-sm-11 mb-3">
                        <div class="detail">
                            <div class="slider" id="slid2"></div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="mb-3">
                            <div class="input-group mb-3">
                                <label class="btn btn-primary" type="button" id="button-addon1">Set Angle °</label>
                                <input id="ang2" type="number" class="form-control" placeholder="" value="-20.0000" step="0.0001">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-outline-danger mb-2">Reset (0°)</button>
                        <button type="button" class="btn btn-outline-info mb-2">Calibrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
        {% include  "code_table.template" %}
        
    </div>
    


</div>

{% endblock %}

{%block jsblock %}
<script src="{% static 'vendor/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables/datatables.js' %}"></script>

<script src="{% static 'vendor/progresscircle/progresscircle.js' %}"></script>
<script src="{% static 'vendor/rangeSlider/ion.rangeSlider.min.js' %}"></script>

<script>
let device_data = "";

$("#slid1").ionRangeSlider({
    min: 0,
    max: 360,
    from: 0,

    onChange: function (data) {
        $('#ang1').val(data.from);
        }
});

$("#slid2").ionRangeSlider({
    min: 0,
    max: 360,
    from: 0,

    onChange: function (data) {
        $('#ang2').val(data.from);
    }
});


$('.circlechart').circlechart();


(function poll() {
    $.ajax({
        url: "/polls/get_status?device=" + "{{ device_in.device_uid }}",
        type: "GET",
        success: function(data) {
            device_data = JSON.parse(data['device_data']);
        },
        dataType: "json",
        complete: setTimeout(function() {poll()}, 2400),
        timeout: 2400
    });
})();


(function() {
    'use strict';
    
    $('#dataTables').DataTable({
        buttons: [
        'New Script'
    ],
        responsive: true,
        pageLength: 3,
        lengthChange: false,
        searching: true,
        ordering: true,
    });
})();

</script>
{% endblock %}